<div *ngIf="!articles">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-grid-list cols="2" rowHeight="0.5:0.5" *ngIf="articles">
  <mat-grid-tile *ngFor="let article of articles; let i = index">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{article.title}}</mat-card-title>
        <img width="400" height="250" src={{article.urlToImage}} alt={{article.title}}>
        <br>
        <button mat-raised-button color="warn" [routerLink]="['/detalle-article', i]">Ver Más</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<p>
  <button mat-raised-button color="warn" [routerLink]="['/']"> Volver</button>
</p>
