<div *ngIf="!articles">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-grid-list cols="1" rowHeight="0.5:0.5" *ngIf="articles">
  <mat-grid-tile *ngFor="let article of articles; let i = index">
    <mat-card>
      <mat-card-header>
        <img mat-card-mat-image src={{article.urlToImage}} alt="Photo of a Shiba Inu">
      </mat-card-header>
      <mat-card-content>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{article.title}}</mat-card-title>
        <!--<button mat-raised-button color="warn" [routerLink]="['/detalle-objeto', objeto.author">Ver Objeto</button>-->
        <mat-card-subtitle>ID: {{article.description}}</mat-card-subtitle>
        {{article.descripction}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<p>
  <button mat-raised-button color="warn" [routerLink]="['/']"> Volver</button>
</p>
